{% extends "todoapp/base.html" %}

{% load static %}

{% block title %}
 Main
{% endblock title %}

{% block content %}


<div class="Home">

  <a class="brand-logo" href="{% url 'main' %}">
  <img class="logo" src="{% static 'Logo.svg' %}">
  <div class="brand-logo-name"><strong> ToDo </strong> </div>
  </a>


  <div class="call-to-action">
      <h1 class="title">Управление задачами <i class="fa fa-clock-o" aria-hidden="true"></i></h1>
      <br>
      <a href="{% url 'login' %}" class="btn">Начать</a>
  </div>

</div>

{% endblock content %}
